<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"><label>Course Name</label></div>
        <div class="col-md-3"><label>Day</label></div>
        <div class="col-md-2"><label>Time</label></div>
        <div class="col-md-2"><label>Duration</label></div>
        <div class="col-md-2"><label>Details</label></div>
    </div>        
    <div class="row" *ngFor="let course of courses">
            <div class="col-md-3">{{course.name}}</div>
            <div class="col-md-3">{{course.days}}</div>
            <div class="col-md-2">{{course.startTime}}</div>
            <div class="col-md-2">{{course.duration}}</div>
            <div class="col-md-2"><a>View Course Info</a></div>
    </div>    
</div>

<div>
<button class="btn btn-outline-dark btn-outline-primary" (click)="open(content)" type="button">Add+</button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Course Add Form</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>The following information is required to add a course.</p>
            <div class="col-sm-12">
                <label>Course Name:</label>
                <input [(ngModel)]="course.name" type="text" placeholder="e.g. Physics"/>
            </div>        
            <div class="col-sm-12"><label>Meeting Days:</label>
                <input [(ngModel)]="dotw.monday" type="checkbox" data-toggle="toggle" value="Mon">Mon
                <input [(ngModel)]="dotw.tuesday" type="checkbox" data-toggle="toggle" value="Tues">Tues
                <input [(ngModel)]="dotw.wednesday" type="checkbox" data-toggle="toggle" value="Wed">Wed
                <input [(ngModel)]="dotw.thursday" type="checkbox" data-toggle="toggle" value="Thurs">Thurs
                <input [(ngModel)]="dotw.friday" type="checkbox" data-toggle="toggle" value="Fri">Fri
            </div>
            <div class="col-sm-12">
                <label>Start Time:</label>
                <input [(ngModel)]="course.startTime" type="time">
            </div>
            <div class="col-sm-12">
                <label>Duration</label>
                <input [(ngModel)]="course.duration" type="number" name="" id="">
                <label>mins</label>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark btn-outline-primary" (click)="c('add course')">Add Course</button>
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      
  <pre>{{closeResult}}</pre>